<%= render 'layouts/alert' %>

<div class="container py-5">
  <h5 class="d-inline py-2 px-5 bg-dark text-white">
    <strong>マイページ</strong>
  </h5>

  <div class="row justify-content-center bg-img mx-5">
    <div class="col-lg-9 p-5">
      <h5>
        <span class="align-middle font-weight-bolder px-2"><i class="fa-solid fa-user"></i> 登録情報</span>
        <%= link_to "編集する", customers_information_edit_path, class: "btn btn-light bg-gold px-5" %>
      </h5>

      <table class="table table-bordered table-secondary my-3">
        <tbody>
          <tr>
            <th>氏名</th>
            <td class="w-75 table-light"><%= @customer.first_name %> <%= @customer.last_name %></td>
          </tr>
          <tr>
            <th>カナ</th>
            <td class="w-75 table-light"><%= @customer.first_name_kana %> <%= @customer.last_name_kana %></td>
          </tr>
          <tr>
            <th>郵便番号</th>
            <td class="w-75 table-light"><%= @customer.postal_code %></td>
          </tr>
          <tr>
            <th>住所</th>
            <td class="w-75 table-light"><%= @customer.address %></td>
          </tr>
          <tr>
            <th>電話番号</th>
            <td class="w-75 table-light"><%= @customer.telephone_number %></td>
          </tr>
          <tr>
            <th>メールアドレス</th>
            <td class="w-75 table-light"><%= @customer.email %></td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="col-lg-3 bg-white p-4">
      <h5 class="font-weight-bolder">
        <i class="fa-solid fa-truck"></i> 配送先
      </h5>
      <%= link_to "一覧を見る", addresses_path, class: "btn btn-light bg-gold btn-block" %>

      <h5 class="font-weight-bolder mt-4">
        <i class="fa-solid fa-box-archive"></i> 注文履歴
      </h5>
      <%= link_to "一覧を見る", orders_path, class: "btn btn-light bg-gold btn-block" %>
    </div>

  </div>
</div>