<div class="container pt-5">
  <h5 class="d-inline p-2 px-5 bg-dark text-white"><strong>商品新規登録</strong></h5>


    <div class="row justify-content-center">
      <div class="col-md-7 mt-4">
        <%= form_with model: @item, url: admin_item_path, method: :patch do |f| %>
        <table class="table table-borderless">
          <tbody>
            <tr>
              <td>商品画像</td>
              <td><%= f.file_field :image, accept: "image/*", class: "w-100" %></td>
            </tr>

            <tr>
              <td>商品名
              </td>
              <td><%= f.text_field :name, class:"form-control", placeholder:"ショップ名"%></td>
            </tr>

            <tr>
              <td>商品説明</td>
              <td><%= f.text_area :introduction, class:"form-control", rows:"5", placeholder:"コメントここに" %></td>
            </tr>

            <tr>
              <td>ジャンル</td>
              <td>
                <div class="form-group">
                <%= f.select :genre_id, @genres.map{ |genre| [genre.name, genre.id] }, class: "form-control" %>
                </div>
                </td>
            </tr>

            <tr>
              <td>販売価格</td>
              <td><%= f.number_field :price, class:"form-control", placeholder:"ショップ名" %></td>
            </tr>

            <tr>
              <td>販売ステータス</td>
              <td>
                <%= f.radio_button :is_active, :on_sale %>
                <%= f.label :"販売中"  %>
                <%= f.radio_button :is_active, :stop_sell %>
                <%= f.label :"販売停止中" %>
              </td>
            </tr>

          </tbody>
        </table>


        <%= f.submit '　変更を保存　', class:"btn btn-light bg-gold btn-block" %>
        <% end %>



      </div>
    </div>



</div>