<%= render 'layouts/alert' %>

<div class="container py-5">
  <h5 class="d-inline py-2 px-5 bg-dark text-white"><strong>商品新規登録</strong></h5>

  <div class="w-75 mx-auto my-5">
    <%= form_with model: @item, url: admin_items_path, method: :post do |f| %>

      <div class="form-group row">
        <%= f.label :"商品画像", class: "col-md-3 col-form-label" %>
        <div class="col-md-8">
          <%= f.file_field :image, accept: "image/*", class: "py-1 form-control-file", id: "image_file" %>
        </div>
      </div>

      <div class="form-group row">
        <%= f.label :"商品名", class: "col-md-3 col-form-label", for: "item_name" %>
        <div class="col-md-8">
          <%= f.text_field :name, class: "form-control", id: "item_name", placeholder:"商品名" %>
        </div>
      </div>

      <div class="form-group row">
        <%= f.label :"商品説明", class: "col-md-3 col-form-label", for: "item_introduction" %>
        <div class="col-md-8">
          <%= f.text_area :introduction, class: "form-control", id: "item_introduction", rows:"6", placeholder:"ここに説明文を記述します" %>
        </div>
      </div>

      <div class="form-group row">
        <%= f.label :"ジャンル", class: "col-md-3", for: "item_genre" %>
        <div class="col-md-8">
          <%= f.select :genre_id, @genres.map{ |genre| [genre.name, genre.id] },{ include_blank: "--選択してください--" }, { id: "item_genre", class: "form-control" } %>
        </div>
      </div>

      <div class="form-group row">
        <%= f.label :"販売価格", class: "col-md-3", for: "item_price" %>
        <div class="col-md-8">
          <%= f.number_field :price, class: "form-control", id: "item_price", placeholder:"1000" %>
        </div>
        <div class="col-md-1 px-0 pt-2">
          円
        </div>
      </div>

      <div class="form-group row">
        <%= f.label :"販売ステータス", class: "col-md-3 col-form-label" %>
        <div class="form-check form-check-inline">
          <%= f.radio_button :is_active, Item.is_actives.key(true), id: "item_on_sale" %>
          <%= f.label :is_active, Item.is_actives_i18n[:on_sale], class: "form-check-label px-2", for: "item_on_sale"  %>
        </div>
        <div class="form-check form-check-inline">
          <%= f.radio_button :is_active, Item.is_actives.key(false), id: "item_stop_sell"  %>
          <%= f.label :is_active, Item.is_actives_i18n[:stop_sell], class: "form-check-label px-2", for: "item_stop_sell" %>
        </div>
      </div>

      <div class="actions pt-3">
        <%= f.submit '新規登録', class:"btn btn-light bg-gold btn-block" %>
      </div>
    <% end %>
  </div>

</div>