<div class="container py-5">
  <h5 class="d-inline p-2 px-5 bg-dark text-white"><strong>管理者ログイン</strong></h5>

  <%= form_with model: @admin, url: admin_session_path do |f| %>
    <div class="form-group row justify-content-center pt-5">
      <%= f.label :"メールアドレス", class: "col-lg-2 col-form-label", for: "email" %>
      <div class="col-lg-7">
        <%= f.email_field :email, class: "form-control", autocomplete: "email", autofocus: true, placeholder: "email@example.com", id: "email" %>
      </div>
    </div>
    <div class="form-group row justify-content-center">
      <%= f.label :"パスワード", class: "col-lg-2 col-form-label", id: "password" %>
      <div class="col-lg-7">
        <%= f.password_field :password, class: "form-control", autocomplete: "current-password", id: "password" %>
      </div>
    </div>
    <div class="actions row py-2">
        <%= f.submit " ログイン", class: "btn btn-primary btn-block w-25 mx-auto" %>
    </div>
  <% end %>

</div>
