<div class="container">
  <div class="row justify-content-between">
    <%= render 'public/shared/genrebar', genres: @genres %>

    <div class="col-md-10 bg-img">
      <div class="row position-relative">
        <h1 class="text-gold position-absolute py-4">ようこそ、ながのＣＡＫＥへ</h1>
        <div class="col-3 p-0">
          <div class="bg-white pt-5">
            <p class="small pt-5 pb-4">
              このサイトは<br>
              ケーキ販売ECサイトになります。<br>
              <br>
              会員でない方も商品の閲覧はできますが、
              購入には会員登録が必要となります。
            </p>
          </div>
        </div>
        <div class="col-9 main-visual">
        </div>
      </div>

      <div class="w-25">
        <h1 class="text-gold px-3">New</h1>
        <hr class="menu-line border-dark mt-n4 ml-n3"></hr>
      </div>

      <div class="row d-flex justify-content-center mx-3">
        <% @items.each do |item| %>
          <div class="col-md-3 col-sm-6 p-2">
            <div class="card shadow h-100">
              <%= link_to item_path(item), class: "text-dark text-decoration-none" do %>
                <%= image_tag item.get_image(250,175), class: "card-img-top" %>
                <div class="card-body p-2">
                  <p class="card-title small font-weight-bold"><%= item.name %></p>
                  <p class="card-text small text-right"><%= item.price.to_s(:delimited) %> 円</p>
                </div>
              <% end %>
            </div>
          </div>
        <% end %>
      </div>

      <div class="my-3 text-right">
        <%= link_to items_path, class: "btn btn-light btn-sm bg-gold px-5" do %>
          すべての商品を見る <i class="fa-solid fa-angles-right"></i>
        <% end %>
      </div>

    </div>

  </div>
</div>