<%= render 'layouts/alert' %>

<div class="container py-5">
  <h5 class="d-inline py-2 px-5 bg-dark text-white"><strong>ジャンル編集</strong></h5>

  <%= form_with model: @genre, url: admin_genre_path, method: :patch do |f| %>
    <div class="form-group row justify-content-center py-5">
      <div class="col-md-2 text-center">
        <%= f.label :"ジャンル名", class: "col-form-label", for: "genre_name" %>
      </div>

      <div class="col-md-6">
        <%= f.text_field :name, class: "form-control", placeholder: "ジャンル名", id: "genre_name" %>
      </div>

      <div class="col-md-2">
        <%= f.submit "変更を保存", class: "btn btn-light bg-gold btn-block" %>
      </div>
    </div>
  <% end %>

</div>