<div class="container py-5">
  <h5 class="mb-5">
    <span class="bg-dark text-white py-2 px-5 font-weight-bold">
      注文履歴一覧
    </span>
  </h5>

  <table class="table table-bordered mx-auto">
    <thead class="text-center table-active">
      <tr>
        <th class="w-25">購入日時</th>
        <th class="w-50">購入者</th>
        <th>注文個数</th>
        <th>注文ステータス</th>
      </tr>
    </thead>
    <tbody>
      <% @orders.each do |order| %>
        <tr>
          <td class="text-center">
            <%= link_to admin_order_path(order), class:"text-danger" do%>
              <%= order.created_at.strftime('%Y/%m/%d %H:%M:%S') %>
            <% end %>
          </td>
          <td class="px-4">
            <%= order.customer.first_name %> <%= order.customer.last_name %>
          </td>
          <td class="text-right">
            <% order.order_details.each do |order_detail| %>
              <% @total_amounts += order_detail.amount %>
            <% end %>
            <%= @total_amounts %>
          </td>
          <td class="text-center">
            <% if order.order_status == "wait_payment" %>
              <span class="font-weight-bold text-danger pt-1"><%= order.order_status_i18n %></span>
            <% elsif order.order_status == "finish_prepare" %>
              <span class="font-weight-bold pt-1"><%= order.order_status_i18n %></span>
            <% else %>
              <span class="font-weight-bold text-success pt-1"><%= order.order_status_i18n %></span>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <div class="row justify-content-center">
    <%= paginate @orders %>
  </div>

</div>