<div class="container py-5">
  <h5 class="mb-5">
    <span class="bg-dark text-white py-2 px-5 font-weight-bold">
      注文履歴詳細
    </span>
  </h5>

  <h6>
    <% if @order.order_status == "wait_payment" %>
      <span class="bg-danger text-white rounded-top px-3 py-2"><%= @order.order_status_i18n %></span>
    <% elsif @order.order_status == "finish_prepare" %>
      <span class="bg-secondary text-white rounded-top px-3 py-2"><%= @order.order_status_i18n %></span>
    <% else %>
      <span class="bg-success text-white rounded-top px-3 py-2"><%= @order.order_status_i18n %></span>
    <% end %>
    <span class="px-2">注文日時： <%= @order.created_at.strftime('%Y/%m/%d %H:%M') %></span>
  </h6>

  <div class="row border rounded-bottom rounded-right mx-auto">

    <div class="col-sm-8 py-3 px-4">
      <strong>配送先</strong>
      <p class="pt-1">
        〒<%= @order.postal_code %><br>
        <%= @order.address %><br>
        <%= @order.name %></p>
      <strong>支払方法</strong>
      <p class="pt-1 mb-0"><%= @order.payment_method_i18n %></p>
    </div>

    <div class="col-sm-4 bg-img d-flex flex-column px-4 pt-4 pb-2">
      <strong>請求情報</strong>
      <div class="d-flex justify-content-between">
        <div>商品合計 : </div>
        <div class="text-right"><%= @total.to_s(:delimited) %> 円</div>
      </div>
      <div class="d-flex justify-content-between flex-grow-1">
        <div>配送料 :</div>
        <div class="text-right"><%= @order.postage %> 円</div>
      </div>
      <div class="d-flex justify-content-between h5 font-weight-bold">
        <div>ご請求額 : </div>
        <div class="text-right"><%= @order.payment_price.to_s(:delimited) %> 円</div>
      </div>
    </div>

  </div>

  <table class="table table-bordered my-4">
        <thead class="text-center table-active">
          <tr>
            <th class="">商品名</th>
            <th class="">単価<small> (税込)</samll></th>
            <th class="">数量</th>
            <th class="">小計</th>
          </tr>
        </thead>
        <tbody>
          <% @order.order_details.each do |order_detail| %>
            <tr>
              <td>
                <%= image_tag order_detail.item.get_image(70,50), class: "" %>　<%= order_detail.item.name %>
              </td>
              <td class="align-middle text-right">
                <%= order_detail.item.add_tax_price.to_s(:delimited) %>
              </td>
              <td class="align-middle text-right">
                <%= order_detail.amount %>
              </td>
              <td class="align-middle text-right">
                ￥ <%= order_detail.subtotal.to_s(:delimited) %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>

    </div>

</div>