<div class="container">
  <div class="row justify-content-between">
    <%= render 'public/shared/genrebar', genres: @genres %>

    <div class="col-md-10 bg-img-half py-4">

      <div class="w-25">
        <h1 class="text-gold px-3">Lineup</h1>
        <hr class="menu-line border-dark mt-n4 ml-n3"></hr>
        <p class="small font-weight-bold">（全 <%= @items.on_sale.count %> 件）</p>
      </div>

      <div class="row d-flex justify-content-start mx-1">
        <% @items.each do |item| %>

          <div class="col-sm-3 px-1 pb-5">
            <div class="card shadow h-100 ">
              <%= link_to item_path(item), class: "text-dark text-decoration-none" do %>
                <%= image_tag item.get_image(250,175), class: "card-img-top" %>
                <div class="card-body p-2">
                  <p class="card-title small font-weight-bold"><%= item.name %></p>
                  <p class="card-text small text-right"><%= item.price.to_s(:delimited) %> 円</p>
                  <p class="btn btn-light bg-gold btn-sm btn-block m-0"><i class="fa-solid fa-plus"></i> More Detail...</p>
                </div>
              <% end %>
            </div>
          </div>
        <% end %>
      </div>

      <div class="row justify-content-center">
        <%= paginate @items %>
      </div>

    </div>
  </div>
</div>